:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light-gray: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-light-gray);
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  border-radius: 10px;
}

.card {
  width: 320px;
  padding: 40px;
  height: 550px;
  color: var(--Transparent-white);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card img {
  width: 50px;
}

.card h1 {
  font-family: Big Shoulders Display;
  font-size: 35px;
  text-transform: uppercase;
  color: var(--Very-light-gray);
}

.card p {
  font-family: Lexend Deca;
  font-size: 18px;
  line-height: 1.8;
  color: var(--Transparent-white);
  margin-bottom: 100px;
}

.card button {
  background-color: var(--Very-light-gray);
  border: 2px solid var(--Very-light-gray);
  border-radius: 25px;
  padding: 12px 25px;
  font-family: Lexend Deca;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  align-self: flex-start;
}

.card button:hover {
  background-color: transparent;
  color: var(--Very-light-gray);
}

.sedans {
  background-color: var(--Bright-orange);
  border-radius: 10px 0 0 10px;
}

.suvs {
  background-color: var(--Dark-cyan);
}

.luxury {
  background-color: var(--Very-dark-cyan);
  border-radius: 0 10px 10px 0;
}

.sedans button {
  color: var(--Bright-orange);
}

.suvs button {
  color: var(--Dark-cyan);
}

.luxury button {
  color: var(--Very-dark-cyan);
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    height: 100rem;
    border-radius: 10px;
  }

  .card {
    width: 90%;
    height: 30rem;
    padding: 30px;
  }

  .card p {
    margin-bottom: 10px;
  }

  .sedans {
    border-radius: 10px 10px 0 0;
  }

  .luxury {
    border-radius: 0 0 10px 10px;
  }

  .card button:hover {
    background-color: transparent;
    color: var(--Very-light-gray);
  }
}
